@charset "utf-8";
.pw-main {position: absolute;top:0;left:0;right: 0;height: 100%;width:100%; padding-top: 0.86rem;box-sizing:border-box; max-width:768px; margin:0 auto;}
.pw-box {position: absolute;top: 50%;left: 0;right: 0;margin-top: -3rem;font-size: 0.24rem;text-align: center;}
.pw-form {height: 0.92rem;width: 6.92rem;margin: 0.2rem auto;background-color:#fff;border: solid 1px #ddd; border-radius: 0.08rem; display: flex;overflow: hidden;text-align: center;position: relative;}
.pw-code {height: 0.92rem;width: 6.52rem;margin: 0.2rem auto;background-color:#fff;border: solid 1px #ddd; border-radius: 0.08rem; display: flex;overflow: hidden;text-align: center;position: relative;line-height: 0.92rem;font-size: 0.32rem;padding: 0 0.2rem;}
.pw-code-text {width: 1.6rem;margin-right: 0.1rem;}
.pw-code-input {font-size: 0.32rem;height: 0.92rem;line-height: 0.92rem;-webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.pw-btn {display: block;width: 92%;height: 0.9rem;line-height: 0.9rem;background-color: #ff8200;color: #fff;font-size: 0.34rem;border-radius: 0.04rem;text-align: center;margin: 0.3rem 4%;}
.pw-btn:active {background-color: #ff7400;}
.pw-btn.grey {background-color: #ccc;}
.pw-btn.grey:active {background-color: #ccc;}
.pw-form .pw-main-insetval{background-color: transparent; position: absolute;top: 0;left: -100%;width: 200%; line-height: 0.92rem;opacity: 0; }
.pw-form .pw-inpt-st{display: inline-block; width: 16.6%; border-left: solid 1px #ddd; height: 0.92rem;line-height: 0.92rem; text-align: center;}
.pw-form .pw-inpt-st.isfocus{ background: url(../images/i-point.png) no-repeat center center; background-size: 24px 24px; }
.pw-form .pw-inpt-st:first-of-type {border-left:none;}

/*-----------------------------------------*/
.font32 {font-size: 0.32rem;}
.font-pale {color: #888;}
.font-red {color: red;}
.getcode {color: #ff801a;background-color: transparent;line-height:0.52rem;height: 0.52rem;width: 2.4rem; margin-top: 0.2rem; font-size: 0.26rem;border-left: solid 1px #ddd;margin-left: 0.1rem;text-align: center;}
.getcode.grey {color: #777;}