@charset "utf-8";
@media screen and (min-width: 320px) { html{ font-size:42px; }}
@media screen and (min-width: 360px) { html{ font-size:48px; }}
@media screen and (min-width: 375px) { html{ font-size:50px; }}
@media screen and (min-width: 400px) { html{ font-size:54px; }}
@media screen and (min-width: 414px) { html{ font-size:56px; }}
@media screen and (min-width: 440px) { html{ font-size:58px; }}
@media screen and (min-width: 480px) { html{ font-size:64px; }}
@media screen and (min-width: 520px) { html{ font-size:70px; }}
@media screen and (min-width: 560px) { html{ font-size:74px; }}
@media screen and (min-width: 600px) { html{ font-size:80px; }}
@media screen and (min-width: 640px) { html{ font-size:86px; }}
@media screen and (min-width: 680px) { html{ font-size:90px; }}
@media screen and (min-width: 720px) { html{ font-size:96px; }}
@media screen and (min-width: 750px) { html{ font-size:100px; }}
@media screen and (min-width: 768px) { html{ font-size:102px; }}
*{margin: 0px;padding: 0px;outline: none;}
body {font-size:0.24rem; line-height: normal;color: #444;background-color: #f5f5f5;font-family:"Helvetica Neue",Helvetica,sans-serif;-webkit-text-size-adjust: 100%;	-webkit-tap-highlight-color:transparent; max-width:768px;min-height: 100%; margin:0 auto;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block; }
input,button,textarea,select,option{-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0;vertical-align:middle; border: none; font-size: 0.24rem;color: #444; background-color: transparent; }
nav,ul,ol,li{ list-style:none; }
table{ border-collapse:collapse; border-spacing:0; }
a{ margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;color: #555;text-decoration: none; }
img,i {border: none;max-width: 100%;max-height: 100%;height: auto;vertical-align: middle;}
i,em { font-style: normal;}
h1,h2,h3,h4,h5 {font-weight: normal;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0; }
.clearfix{ zoom:1; }
.fl { float: left; }
.fr { float: right; }
.flex { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.fx1 { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden;}
::-webkit-input-placeholder {color: #ccc; }
/* scroll style */
::-webkit-scrollbar {width: 6px; height: 10px; background: #f5f5f5; }
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 6px; background: #f5f5f5; }
::-webkit-scrollbar-thumb {border-radius: 6px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background: #4183FF; }
/* pop style */
.h5pop-main{ width: 80%; max-height: 70%; padding: 0; background: #fff; background: rgba(255,255,255,.9); border-radius: 0.1rem; position: fixed; z-index: 999999; top: 50%; left: 10%; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; overflow-x: hidden; overflow-y: auto; }
.h5pop-mask{ width: 100%; height: 100%; background: rgba(0,0,0,.7); position: fixed; z-index: 999998; top: 0; left: 0; }
.h5pop-close{ width: 0.8rem; height: 0.8rem; line-height: 0.8rem; margin: 0; padding: 0;font-size: 0.48rem; text-align: center; position: absolute; top: 0; right: 0; cursor: pointer; text-decoration: none; color: #333; }
.h5pop-close:active{  color: #4183FF; }
.h5pop-content{ padding: 0.2rem 0; margin: .1rem; text-align: center; max-height: 2rem; overflow-y:auto; }
.h5pop-content::-webkit-scrollbar {width: 6px; height: 10px; background: #f5f5f5; }
.h5pop-content::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 6px; background: #f5f5f5; }
.h5pop-content::-webkit-scrollbar-thumb {border-radius: 6px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background: #4183FF; }
.h5tips-title {display: block; width: 100%; height: 0.8rem; line-height: 0.8rem; margin: 0; padding: 0; border-bottom: 1px solid #ddd;  text-align: center; font-size: 0.36rem;font-weight: normal;}
.h5tips-txt{ display: block; width: 100%; line-height: 160%; padding: 0.2rem 0; text-align: center; }
.h5tips-txt img{ max-width: 200px; vertical-align: top; }
.h5pop-footer{ text-align: right;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;	display: flex; }
.h5pop-confirm,.h5pop-cancel{ display: inline-block; height:0.8rem; line-height: 0.8rem; font-size: 0.36rem; cursor: pointer; outline: none; -webkit-box-flex: 1; -webkit-flex: 1;-ms-flex: 1;flex: 1; border:none;-webkit-appearance: none;appearance: none;border-radius: 0;margin:0 -0.05rem; text-decoration: none; text-align: center; }
.h5pop-confirm{ background: #4183FF;color: #fff; }
.h5pop-cancel{ background: #e4e4e4;border-right: 1px solid #ddd; color: #333; }
.h5pop-cancel:active{ background: #fff; }
.h5pop-confirm:active{ background: #0B5DFF; }
/* load style */
#aspenLoading { width:60px; height:50px; margin:0 auto; text-align: center; font-size: 10px; }
#aspenLoading > div{ display: inline-block; height: 100%; width: 6px; margin:0 3px; background:#dedede; -webkit-animation: stretchdelay 1.2s infinite ease-in-out; animation:stretchdelay 1.2s infinite ease-in-out; }
#aspenLoading .subele2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
#aspenLoading .subele3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
#aspenLoading .subele4{ -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
#aspenLoading .subele5 {-webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
#systemTips{ min-width: 30%; line-height: 150%; padding: .2rem; box-sizing: border-box; background: rgba(0, 0, 0, 0.9);/* border: 1px solid #ff901a; box-shadow: 0 0 20px 1px #ccc;*/ border-radius: 0.1rem; position: fixed; z-index: 999999; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: .28rem; text-align: center; color: #fff; }
@-webkit-keyframes stretchdelay{
    0%, 40%, 100% { -webkit-transform: scaleY(0.4)}
    20%{-webkit-transform:scaleY(1.0)}
}
@keyframes stretchdelay{
    0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }
    20%{ transform: scaleY(1.0); -webkit-transform:scaleY(1.0); }
}
/* */
/* .body-grey {background-color: #f2f2f2;} */
.header { display: flex; width:100%; height: 0.88rem; line-height: 0.88rem; background: #fff; font-size:0.36rem; max-width:768px; margin:0 auto; position:fixed; top:0; left:0; right:0; z-index:100; border-bottom: solid 1px #f0f0f0; }
.header h2 { width:100%; margin: 0 .8rem; font-size: 0.36rem; color:#333; text-align: center; font-weight: normal; text-overflow: ellipsis; white-space:nowrap; overflow:hidden; }
.header h2 a {color:#333; }
.header .i-back { width: 0.22rem; height: 0.22rem; border-style: solid; border-color: #666; border-width: 0.03rem 0.03rem 0 0;transform: rotate(-135deg); -ms-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -o-transform: rotate(-135deg); position: absolute; left: 0.31rem; top: 0.31rem; }
.header .i-back.white { border-color: #fff;}
.header .text { position: absolute; left: 0.2rem; top:0; z-index: 2; }
.header .logo { display: inline-block; width: 1.4rem; height: 0.36rem; position: absolute; top: 50%; left: 50%; margin-left: -0.7rem; margin-top: -0.18rem; }
.footer {height:1rem; width:100%; max-width:768px; margin:0 auto; position:fixed; bottom:0; left:0; right:0; z-index:101; }
.wrap { max-width:768px; margin:0 auto; }
.main { padding-top: 0.88rem;max-width:768px; margin:0 auto; }
.content {padding-bottom: 1.1rem; max-width:768px; margin:0 auto;}
.loading {width: 100%;padding: .4rem 0;text-align: center;font-size: .28rem;color: #999;}
/**/
.bg-white { background-color: #fff;}
.font24 { font-size: 0.24rem;}
.font28 { font-size: 0.28rem;}
.font32 { font-size: 0.32rem;}
.font40 { font-size: 0.4rem;}
.font-white { color: #fff;}
/* .font-dark { color: #111;} */
.font-grey { color: #999;}
.font-blue { color: #4183ff;}
.font-org { color: #FF8200;}
.font-red { color: #F23030;}
.text-c { text-align: center;}
.text-r { text-align: right;}
.pd25 { padding: 0.25rem;}
.plr25 { padding: 0 0.25rem;}
.mb15 { margin-bottom: 0.15rem;}
.mb25 { margin-bottom: 0.25rem;}
.mb40 { margin-bottom: 0.4rem;}
.mr20 { margin-right: 0.2rem;}
.mr40 { margin-right: 0.4rem;}

.i-left { display: inline-block; width: 0.2rem; height: 0.2rem; border-style: solid; border-color: #fff; border-width: 0.04rem 0.04rem 0 0; transform: rotate(-135deg); vertical-align:middle; }
.i-right { display: inline-block; width: 0.15rem; height: 0.15rem; border-style: solid; border-color: #999; border-width: 0.025rem 0.025rem 0 0; transform: rotate(45deg); vertical-align:middle; }
.i-checkbox { display: inline-block; width: 0.24rem; height: 0.24rem; border: solid 1px #d0d0d0; border-radius: 0.04rem; vertical-align: middle; }
.i-checkbox.checked { background-image: url(../images/i-checked.png); background-repeat: no-repeat; background-position: center center; background-size: 0.2rem 0.2rem; }
.i-radio { display: inline-block; width: 0.44rem; height: 0.44rem; border: solid 1px #d0d0d0; border-radius: 50%; vertical-align: middle; box-sizing: border-box; }
.i-radio.checked { background-image: url(../images/i-radioed.png); background-repeat: no-repeat; background-position: center center; background-size: 0.44rem 0.44rem; border:none; }
.i-notice { display: inline-block; width: 0.24rem; height: 0.24rem; background-image: url(../images/i-notice.png); background-repeat: no-repeat; background-size: contain; vertical-align: middle;}